.culture-container {
     /* Adjust this if the navbar is fixed */
    padding: 20px;
    margin-bottom: 100px;
  }
  
  .culture-content {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 3rem;
    color: #555;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 2.5rem;
    color: #666;
    margin-top: 20px;
  }
  
  p {
    font-size: 2rem;
    color: #777;
    margin-bottom: 20px;
  }
  